
// Default variable overrides
/*$body-bg: #000;
$body-color: #111;*/
$enable-rounded: false;
$border-radius: 0;
/*$font-family-sans-serif: Handel Gothic, Slider, sans-serif;
*/

//$body-bg: #141b24;
$body-color: #fff;
$body-bg: #141b24;
$modal-content-bg: rgba(74, 111, 144, 0.95);
$tooltip-color: white;

#root{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    background-color: #141b24;
    user-select: none;
}
h3, h4, h5, h6 {
    font-family: Handel Gothic, Slider, sans-serif;;
}
li.list-group-item{
    border: none;
}
/*.tokenButton{
    transition: all .25s;
    padding: 1rem;
    border: solid 1px;
    border-color: transparent;
    border-radius: 5px;
}*/
.hoverable{
    transition: all .25s;
    border: solid 1px;
    border-color: transparent;
    border-radius: 5px;
}
.hoverable:hover{
    border: solid 1px rgba(255, 255, 255, 0.5)!important;
    background-color: rgba(255, 255, 255, 0.15)!important;
    transition: all .25s;
}
.selectedMatch.prematchLobby{
    background-color: rgba(255, 255, 0, 0.65)!important;
    color: black;
    transition: all .25s;
}
.TIOLobby{
    color: green;
}
.selectedMatch.TIOLobby{
    background-color: rgba(0, 128, 0, 0.65)!important;
    color: black;
    transition: all .25s;
}
.btn_hoverable{
    transition: all .25s;
    box-shadow: rgba(0,0,0,.15) -1px 1px 3px 3px!important;
}

.btn_hoverable:hover{
    transition: all .25s;
    box-shadow: rgba(0,0,0,.35) -1px 1px 3px 3px!important;
}

.sustain_ability{
    position: relative;
}

.sustain_ability:before{
    content: '\f536';
    font-family: bootstrap-icons !important;
    position: absolute;
    top: 0;
    right: 0;
    color: yellowgreen;
}

.hit_assignedtrue, .hit_assigned1, .hit_assigned2{
    position: relative;
}

.hit_assigned1:after, .hit_assignedtrue:after{
    content: '\f7f6';
    font-family: bootstrap-icons !important;
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
}

.hit_assigned2:after{
    content: '\f7f6\f7f6';
    font-family: bootstrap-icons !important;
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
}

#lobbyMain select[disabled] {
    background-color: transparent;
}

@import "../../node_modules/bootstrap/scss/bootstrap";


//new animation

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 1600px;
    -webkit-perspective: 1600px;
    z-index: 0;
}
.star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0cb26, 679px -535px #e3e3e3, 158px 399px #f0b5b5, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #f0b5b5, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #f0cb26, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #79bdf5, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #79bdf5, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #79bdf5, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #f0b5b5, -681px 13px #4a2b92, -176px 209px #f0f0f0, 758px 457px #7af380, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ccda13, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #f0b5b5, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #79bdf5, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #f00d0d, 392px 520px #d9d9d9, -492px -60px #f0cb26, 759px 288px #f0b5b5, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 35%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-2000px);
        opacity: 0.25;
    }
    to {
        transform: translateZ(600px);
        opacity: 0.35;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-2000px);
        opacity: 0.25;
    }
    to {
        transform: translateZ(600px) translateX(300px);
        opacity: 0.35;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-4200px);
        opacity: 0.25;
    }
    to {
        transform: translateZ(1000px);
        opacity: 0.25;
    }
}
@keyframes sf-fly-by-4 {
    from {
        transform: translateZ(-4200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(1000px);
        opacity: 0.95;
    }
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 26s linear infinite;
}
/*.star-field .layer:nth-child(2) {
    opacity: 0;
    animation: sf-fly-by-2 13s linear infinite;
}*/
.star-field .layer:nth-child(2) {
    opacity: 0;
    animation: sf-fly-by-2 26s linear infinite;
    animation-delay: 13s;
}
/*.star-field .layer:nth-child(4) {
    opacity: 0;
    animation: sf-fly-by-3 .5s linear infinite;
}*/

